@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body { width:1440px; font-family:'Hahmlet', sans-serif; margin:auto; position:relative;}

header{position:fixed; z-index: 10; top:0; max-width:1440px; width:100%;}

.navBar {width:1440px; height:70px; background:#1F6FB1; z-index: 10; margin:0 auto; display:flex; align-items: center; gap:10px;}
.logo {padding: 0 45px; width:65px; cursor: pointer;}
.search {display:flex; gap:10px; align-items: center;}
.searchbar{all:unset; width:230px; height:29px; border-radius: 5px; border:0.5px solid white; background:#f2f2f2; font-size:18px; padding: 5px 20px;}
.searchbar:focus {border:1px solid #ccc; outline:none;}

.sideMenu {position:absolute; top:0; right:0; width:350px; height:100vh; background: #1F6FB1; padding:25px 20px; display:none; flex-direction: column; z-index: 100; overflow: auto;}
.sideMenu svg {color:#f2f2f2b6; cursor:pointer;}
.sideTitle {display:flex; justify-content: space-between; padding:0 0 15px 0; border-bottom: 0.5px solid #f2f2f2;}
#sideOff:hover {color: #f2f2f2;}
.sideContainer {padding:35px 0; display:flex; flex-direction: column; gap:35px;}
.sideContainer li {font-size:20px; display:flex; flex-direction: column; color:#f2f2f2b6; justify-content: space-between; }
.sideContainer li:hover , .sideContainer li:hover svg, .sideContainer svg:hover , .subsubmenu div:hover {color: #f2f2f2; cursor:pointer;} 
.sideMenuBack {position:absolute; top:0; right:0; left:0; height:100vh; z-index: 99; background: rgba(0, 0, 0, 0.619); display:none;}
.sideMenuList {display: flex; justify-content: space-between;}
.subsubmenu {display:none; flex-direction: column; gap: 10px; padding:0 20px;}
.on {display:flex;}
.menuicon {display:none;}

.subMenuTitle { display:flex; width:30%; margin:auto; text-align: center; font-size: 30px; height:100%;}
.menuGroup{display:flex; gap:30px; color:white; padding:0 0 0px 20px; cursor:pointer;}
.menuGroup li {padding: 10px 0; border-bottom: 2px solid transparent;}
.menuGroup li:hover  { border-bottom: 2px solid white;}

.subMenu {display:none; position: absolute; width:100%; height:200px; top:70px; background:white; box-shadow: -1px 6px 10px #38383854;}
.on {display:flex;}

.subMenuContainer{width:70%; display:flex; flex-direction: column;}
.subMenuList{display:flex; flex-direction: column; gap:14px; margin:auto 0;}
.subMenuList li:hover { color:#1F6FB1; cursor:pointer;}

.langList{ position:relative; top:0; left:60%; transform: translate(436px,-300px); transition: 0.5s all ease-in-out; z-index: -1;}
.langListContainer {display:flex; flex-direction: column; cursor:pointer; background: white; border-radius: 4px; border: 1px solid #f2f2f2;}
.langListContainer li {border-bottom: 1px solid #f2f2f2; padding:10px 40px; text-align: center;}
.langListContainer li:hover {color:#1F6FB1;}

.move {display:flex; transform: translate(436px,0px); transition: 0.5s all ease-in-out; transition: 0.3s all ease-in-out;}
.navabr_lang {padding: 0 40px; display:flex; gap:5px; align-items: center; color:white; cursor:pointer;}


.main { margin:150px 0 50px 0; width:100%; height:600px; background: #ccc; background: url('../img/main.jpeg') no-repeat center 70%; background-size:cover; position: relative;}

.slide_page span {position:absolute; top:50%; right:50%; transform:translate(50%,50%); display:block; }
.slide_page p {color: #fff; font-size:50px; font-weight:700; text-align: center; text-shadow: 3px 3px 5px rgb(56, 83, 111);font-family: 'Hahmlet';}


.content1 { width:100%; display: flex; flex-direction: column;}
.cont_title {font-weight:500; font-size:35px; color:#383838; margin:30px auto; font-family: 'Hahmlet'; text-align: center; border-bottom:1px solid #a0a0a0; padding:15px 0;}
.nightTitle {font-size:24px; cursor:pointer;}
.nightText {font-size:16px; line-height: 20px; cursor:pointer;}
.nightBack {margin: 0 auto; height:140px; width:110px; background: url('./img/nightBack01.png') no-repeat; background-position: center;}
.nightBack02 {margin: 0 auto; height:70px; width:110px; background: url('./img/nightBack02.png') no-repeat; background-position: center;}
.sub {width:100%; height:100%;}
.sub_list {display:flex; gap:15px;}
.sub_list li { 
  border: 1px solid #1F6FB1; padding:6px 12px 8px; border-radius: 20px; font-size: 16px; color:#1F6FB1; text-align: center; cursor:pointer; text-decoration: none; 
}


.sub_list li:hover {background:#1F6FB1; color:#fff;}

.slide_pic {width:100%; height:550px; margin-top: 50px; }

.infoContainer {display:flex; gap:50px; margin:40px auto; border: 2px solid #f2f2f2; padding:40px;}
.infoUnit {padding:0 20px; text-align: center; cursor:pointer;}
.infoUnit > div {margin-top:9px}


/**********************/

swiper-container {
  width: 70%;
  height: 70%;
  margin: 25px auto;
}

swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  
  width: 75%;
  height: 100%;
  object-fit: cover;
}

/**********************/

/*********두번째 스와이퍼************/

.content2 {display:flex; flex-direction: column; margin:100px auto; margin-bottom: 0;; width:100%; height:500px;}
.con2contaniner {display:flex; padding:15px; background:#f2f2f2;} 
.con2info {width:30%; display:flex; flex-direction: column; gap:30px; padding:50px;}
.con2Title {margin:0 auto; font-size: 30px; text-align: center; line-height: 40px}
.con2Text {display:flex; text-align:left; margin: auto; line-height: 30px; flex-direction: column;}
.con2moreinfo {display: flex; padding: 10px 0; font-family: 'Courier New', Courier, monospace; font-size: 14px; cursor:pointer;}

#festivalSwiper {
  width: 70%;
  height: 100%;
  margin: auto;
}

#festivalSwiper > swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

#festivalSwiper > swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#festivalSwiper > swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}


/**********************/
.content3 {display:flex; flex-direction: column;}
.content4 { display:flex; flex-direction:column; width:100%; margin:auto; padding: 0 0 100px 0; background: url('../img/bg_section02.png') 50% 50% /1440px;} 

.con4container {display:flex; align-items: center;}
.con4vid {width:50%; height:100%;}
.con4pic {width:50%; height:100%; display:flex; flex-direction: column; gap:10px}

#seoulTv { width:100%; height:100%;}

.snslist {display:flex; gap:10px}
.snslist li {position:relative;}
.snsThumbs {width:185px; height:175px; object-fit: cover; filter:brightness(1); transition: 0.5s; cursor: pointer;}
.snsThumbs:hover {filter:brightness(0.5)}
.snsMask {position: absolute; top:45%; left:50%; transform: translate(-50%,0); transition: 0.5s; width:132px; color:white; display:none; align-items: center; cursor:pointer}